* {
  margin: 0;  
  color: white;    
}

h1 {
    text-align: center;       
    font-size: 3rem;
}

a {
    margin: 1rem;
}

header {
    text-align: center;
    font-weight: bold;
    background-color: red;        
}

nav {
    text-align: center;
    background-color: #ff9800;    
    font-size: x-large;
    padding: 10px;
}

main {
    background-color: green;
    padding: 15px;
}

article {
    background-color: blue;
    padding: 10px;    
    font-size: large;

    ul,ol {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.article1 {
  margin-bottom: 5px;
}

footer {    
    h1 {
        font-weight: normal;
    }    
    background-color: magenta;    
}